:root {
    --bg-color: #050505;
    --card-bg: #121212;
    --accent-color: #8b0000;
    --text-color: #c9c9c9;
}

/* Bloqueo visual de selecci칩n */
* {
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Crimson Text', serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 60px 20px;
    border-bottom: 1px solid var(--accent-color);
    width: 100%;
}

h1 {
    font-family: 'Nosifer', sans-serif;
    color: var(--accent-color);
    font-size: 2.5rem;
    text-shadow: 0 0 15px rgba(139, 0, 0, 0.5);
}

.container {
    max-width: 1000px;
    width: 90%;
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.story-card {
    background: var(--card-bg);
    border: 1px solid #1a1a1a;
    padding: 30px;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story-card:hover {
    border-color: var(--accent-color);
    transform: translateY(-5px);
}

.btn-read {
    display: block;
    text-align: center;
    padding: 12px;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

.btn-read:hover {
    background: var(--accent-color);
    color: white;
}

/* Estilo del Bot칩n de YouTube */
.btn-youtube {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espacio entre el logo y el texto */
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #FF0000; /* Rojo YouTube */
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px; /* Bordes redondeados estilo YouTube */
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    transition: transform 0.3s, box-shadow 0.3s;
    animation: pulse-red 2s infinite;
}

.btn-youtube i {
    font-size: 1.5rem; /* Tama침o del icono */
}

.btn-youtube:hover {
    transform: scale(1.05);
    background-color: #cc0000;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
}

/* Animaci칩n de latido */
@keyframes pulse-red {
    0% { box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7); }
    70% { box-shadow: 0 0 0 15px rgba(255, 0, 0, 0); }
    100% { box-shadow: 0 0 0 0 rgba(255, 0, 0, 0); }
}
